#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.layout {
  display: grid;
  min-height: 120vh;
  grid:
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { grid-area: header; }
.main {
  grid-area: main;
  margin-top: 50px;
}
.footer { 
  margin-top: 50px;
  grid-area: footer; 
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
 

}
#article-card {
height: 500px;
width: 260px;

}


#img-card-container {
  max-width: 200px;
  min-height: 242px;
}
#img-card {
  max-width: 200px;

}

.edit-form {
  margin: 5px;
}

.search-bar {
  margin: 5px;
}

.deleteDate-btn {
  margin: 5px;
}