#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.layout {
  display: grid;
  min-height: 120vh;
  grid:
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { grid-area: header; }
.main {
  grid-area: main;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.footer { 
  margin-top: 50px;
  grid-area: footer; 
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
 margin-top: 10px;

}
#article-card {
height: 500px;
width: 300px;
overflow: hidden;
background-color: #d2d4d6;
background: rgba(210,212,210,.3);
/* background: linear-gradient(0deg, rgba(210,212,210,.3) 0%, rgba(17,0,32,.5) 50%); */
}


#img-card-container {
  max-width: 200px;
  min-height: 242px;
}
#img-card {
  max-width: 200px;

}

.edit-form {
  margin: 10px;
}
.search-container {
  margin: 10px;
  max-width: 95vw;
}

.search-bar {
  margin: 10px;
}

.deleteDate-btn {
  margin: 5px;
}

#article-notfound {
  margin-top: 200px;
}